<th:block>
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h4>Unlimited &amp; Fast Processing</h4>
                <p>
                    You can upload an unlimited number of text with lightning-fast
                    processing. Our AI analyzes and corrects your text in seconds,
                    ensuring accurate and efficient results every time.
                </p>

                <form action="/text/upload" method="post" class="d-flex flex-column align-items-center">
                    <div class="w-100 w-md-75 mb-3 text-start">
                        <label for="textInput" class="form-label">Enter your text here:</label>
                        <textarea
                                class="form-control"
                                name="textInput"
                                id="textInput"
                                rows="10"
                                placeholder="Type or paste your text..."
                        ></textarea>
                    </div>
                    <button class="btn signup-btn text-white px-5" type="submit">
                        Check
                    </button>
                </form>

                <div th:if="${response != null and !response.isCorrect}"
                     class="mt-4 p-4 rounded"
                     style="background-color: #6aefcf;">

                    <div class="mb-3">
                        <h5>Text Analysis Complete</h5>
                        <p>We found and corrected some spelling or grammar errors in your text.</p>
                    </div>

                    <div class="card border-0 shadow-none mb-3" style="background-color: #ff5a79;">
                        <div class="card-header d-flex justify-content-between align-items-center border-0 p-0">
                            <div class="ms-2 mt-2">
                                <pre th:text="${originalText}"></pre>
                            </div>
                        </div>
                    </div>

                    <div class="card border-0 shadow-none" style="background-color: #50d8b6;">
                        <div class="card-header d-flex justify-content-between align-items-center border-0 p-0">
                            <div class="ms-2 mt-2">
                                <pre th:text="${response.correctedText}"></pre>
                            </div>
                        </div>
                    </div>

                </div>

                <div th:if="${response != null and response.isCorrect}"
                     class="mt-4 p-4 rounded"
                     style="background-color: #6aefcf;">

                    <div class="mb-3">
                        <h5>Text Analysis Complete</h5>
                        <p>We didn't found spelling or grammar errors in your text.</p>
                    </div>

                    <div class="card border-0 shadow-none" style="background-color: #50d8b6;">
                        <div class="card-header d-flex justify-content-between align-items-center border-0 p-0">
                            <div class="ms-2 mt-2">
                                <pre th:text="${response.correctedText}"></pre>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</th:block>








